@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-manrope), sans-serif;
  --color-background: #f5f6f8;
  --color-foreground: #111827;
  --color-navbar: #000000;
  --color-soft-gray: #f3f4f6;
  --color-accent-orange: #f97316;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
}

/* Hide scrollbars utility */
.scrollbar-none::-webkit-scrollbar {
  display: none !important;
}
.scrollbar-none {
  -ms-overflow-style: none !important;
  scrollbar-width: none !important;
}
